body{
    background-color: #e7e7e7;
}

img {
    display: block;
    max-width: 100%;
}

a:hover {

    text-decoration: none;

} 

a{
    color:#e7e7e7;
}

.container-inner{
    display: block;
    text-align: center;
    padding: 50px 0;
    color:#e7e7e7;
    background: #887878; 
}

#particles-js {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 100%
}
/* .open-page-item>ul.children, */
.open-page-item>ul.sub-myselfmenu {
	display: block!important
}

.header{
    position: relative;
    z-index: 999;
}

.navbar{
    height:52px;
    background-color: #4a4a4a;
    opacity: 0.9;
    clear: both;
    overflow: visible;
}

.navbar .nav{
    position: relative;
    left: 0px;
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 16px;
    max-width:1226px;
}

.navbar .nav >li{
    position: relative;
    float: left;
    margin-right: 1px;
    display: block;
    min-width: 75px;
    width: auto;
}

li{
    line-height: 20px;
}


.navbar .nav li.current-menu-item a,
.navbar .nav li.current-menu-parent a,
.navbar .nav li.current-post-ancestor a, 
.navbar .nav li.current_page_item a, 
.navbar .nav li:hover a {
    background-color: #d56464;
}

.side-bar-card-one {
    background: rgb(255, 252, 252);
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 5px 5px;
  }


.excerpt{
    background-color: #fff;
    padding: 5px 15px 30px 20px;
    margin-bottom: 10px;
    position: relative;
    clear: both;
}

.excerpt-one{
    top: 3px;

}

.excerpt .header{
    margin: 0px 10px 15px 0px;
}

.news-list-item {
    border-bottom: 5px solid #eee;
}

.news-list-item .m2{
   color:#00a67c;
   text-decoration: none;
}

.news-list-item .title {
    color: #777;
    font-size: normal;
    margin-bottom: 0px;
    line-height: 24px;
}

.avatar {
    display: inline-block;
}

.avatar img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.title-sidebar {
	position: relative; 
	height: 45px;
	border-bottom: 1px solid #90bba8;
	margin: 5px 20px
}

.footer {
    margin-top: 20px;
    padding: 50px 0;
    text-align: center;
    color: #999;
}

.share{
    height: 60px;
}

.share1, .share2, .share3{
    margin-left: 5px;
    float: left;
    width: 50px;
    height: 50px;
}

.btn-right
{
    float: right;
}

.bit-left
{
    float: left;
}

.wrap{
    margin: 20px 0px;
    padding: 5px;
}

.wrap .info{
    overflow: hidden;
}

.wrap .username{
    float: left;
}

.wrap .content{
    width: 100%;
    padding: 5px;
}

.wrap .time-message{
    float:right;
}

.message-method{
   float:right;
}

/* 点赞图标设计 */
.liked{
    background: deeppink;
    border: 0px;
}

.disliked{
    background: #777;
}

.life-wrap{
    overflow: hidden;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0; 
    z-index: 999;
}


  .mainbox {
    position: relative; 
    bottom: 25px;
    width: 100%;
    height: 345px;
    /* margin:100px auto 0 auto; */
    box-shadow: 0 0 0px rgb(180, 182, 180);
    overflow: hidden;
  }
  .mainbox .wrap {
    position: absolute;
    width: 4200px;
    height: 330px;
    z-index: 1;
  }
  .mainbox .wrap img {
    float: left;
    width: 600px;
    height: 330px;
  }
  .mainbox .buttons {
    position: absolute;
    right: 5px;
    bottom:30px;
    width: 120px;
    height: 10px;
    z-index: 2;
  }
  .mainbox .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(211, 212, 211);
    text-align: center;
    color:white;
    cursor: pointer;
  }
  .mainbox .buttons span.on{
    background-color: rgb(151, 150, 150);
  }
  .mainbox .arrow {
    position: absolute;
    top: 40%;
    color: rgb(179, 182, 179);
    padding:0px 15px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
  }
  .mainbox .arrow_left {
    left: 10px;
  }
  .mainbox .arrow_right {
    right: 10px;
  }
  .mainbox:hover .arrow {
    display: block;
  }
  .mainbox .arrow:hover {
    background-color: rgba(0,0,0,0.2);
  }
